@mixin input {
  padding: 0.5rem 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
}

@mixin button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  &:hover {
    color: #fff;
    background-color: #bdbdbd;
  }
}