@mixin input {
  padding: 0.5rem 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #c6ecff;
    outline: 0;
    box-shadow: 0 0 0 0.075rem rgb(130, 236, 255);
  }
}

@mixin button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: #c6ecff;
    border-color: #c6ecff;
  }

  &:active {
    background-color: #78d0fc;
  }
}